html, * {
    box-sizing: border-box;
    margin: 0;
}

.wrapper, .header, .header__nav {
    border: 1px solid black;
}

.wrapper {
    width: 100%;
}

.header {
    position: absolute;
    bottom: 0;
    width: 100%;

    &__nav {

        &__list {
            list-style: none;
            display: flex;
            width: 100%;
            justify-content: flex-end;

            &-item {
                padding: 0 1em;

                &.service {
                    margin-right: auto; //не работает, но он должен быть прижат к левому краю
                }
            }
        }
    }
}