@font-face {
    font-family: Methanerse;
    src: url(./public/fonts/methanerse-font/MethanerseFreeTrial-0WpE4.otf);
}
@font-face {
    font-family: Trench;
    src: url(./public/fonts/trench-font/TrenchThin-16R0.otf);
}

.main-content {
    padding-top: 0;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.00); 
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.00); 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.0); 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
}

.gallery img {
    max-width: 100px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
    margin: 5px;
  }

  .black-background {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
  }


.gallery img:hover {
    transform: scale(1.1); 
}

#photo-container img {
    max-width: 100%; 
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.calendar {
    background-color: rgba(255, 255, 255, 0.3); 
    color: black; 
    padding: 10px 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8; 
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out; 
}

#loadGalleryBtn {
    background-color: rgba(255, 255, 255, 0.3); 
    color: black; 
    padding: 10px 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8; 
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out; 
}

#loadGalleryBtn:hover {
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.5); 
}
.photo-container {
  position: relative;
}

#photo-container img {
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
  }
  
  .close-gallery {
    position: absolute;
    top: 0px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
    
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: thin;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
    transition: background-color 0.3s ease;
  }
  
 